$grays-prefixed: (
	"gray-100": $gray-100,
	"gray-200": $gray-200,
	"gray-300": $gray-300,
	"gray-400": $gray-400,
	"gray-500": $gray-500,
	"gray-600": $gray-600,
	"gray-700": $gray-700,
	"gray-800": $gray-800,
	"gray-900": $gray-900
);

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $grays-prefixed);

@function app-rgba-css-var($key, $target) {
	@return rgba(var(--app-color-#{$key}-rgb), var(--#{$prefix}#{$target}-opacity));
}

$all-colors-text: map-loop($all-colors, app-rgba-css-var, "$key", "text");
$all-colors-bg: map-loop($all-colors, app-rgba-css-var, "$key", "bg");
$all-colors-border: map-loop($all-colors, app-rgba-css-var, "$key", "border");
$all-colors-focus-ring: map-loop($all-colors, app-rgba-css-var, "$key", "focus-ring");
$all-colors-link-underline: map-loop($all-colors, app-rgba-css-var, "$key", "link-underline");

$utilities: map-merge(
		$utilities,
		(
			"color": map-merge(
					map-get($utilities, "color"),
					(
						values: map-merge(
								map-get(map-get($utilities, "color"), "values"),
									(
										$all-colors-text
									),
						),
					),
			),
			"background-color": map-merge(
					map-get($utilities, "background-color"),
					(
						values: map-merge(
								map-get(map-get($utilities, "background-color"), "values"),
									(
										$all-colors-bg
									),
						),
					),
			),
			"border-color": map-merge(
					map-get($utilities, "border-color"),
					(
						values: map-merge(
								map-get(map-get($utilities, "border-color"), "values"),
									(
										$all-colors-border
									),
						),
					),
			),
			"focus-ring": map-merge(
					map-get($utilities, "focus-ring"),
					(
						values: map-merge(
								map-get(map-get($utilities, "focus-ring"), "values"),
									(
										$all-colors-focus-ring
									),
						),
					),
			),
			"link-underline": map-merge(
					map-get($utilities, "link-underline"),
					(
						values: map-merge(
								map-get(map-get($utilities, "link-underline"), "values"),
									(
										$all-colors-link-underline
									),
						),
					),
			),
		)
);