@each $color, $value in $all-colors {
	.bg-#{$color} {
		background-color: $value;
	}

	@include theme(light) {
		[class*="light:bg-#{$color}"] {
			background-color: $value;
		}
	}

	@include theme(dark) {
		[class*="dark:bg-#{$color}"] {
			background-color: $value;
		}
	}
}