@mixin generateLink($color, $value) {
	color: tint-color($value, 40%);
	text-decoration-color: tint-color($value, 40%);

	&:hover,
	&:focus {
		color: tint-color($value, 20%);
		text-decoration-color: tint-color($value, 20%);
	}
}

@include generate-variants($name: link, $values: $all-colors, $states: ()) using ($value, $key, $important, $theme) {
	@include generateLink($key, $value);
}
